.review-title{
  font-size: 20px;
  display: inline;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.fa-sharp.fa-solid.fa-star {
  color:#D70466
}

.create-review {
  margin: 15px 15px 15px 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.review-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: auto;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin: 15px 15px 15px 0px;
}

.each-review-detail {
  display: flex;
  flex-direction: column;
}

.each-review-user{
  margin-top: 25px;
  font-size: 18px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.each-review-date{
  font-size: 15px;
  color:grey;
  margin: 5px 0px 10px 0px;
}

.each-review-img {
  height: 150px;
  width: auto;
  margin: 5px 5px 5px 0px;
}
