.create-review-outer-container{
  width: 500px;
  height: auto;
  min-height: 418px;

  border-color: #B0B0B0;
  border-width: 1px;
  border-radius: 12px;
  border-style: solid;

  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  border: none;
  outline: none;
}

#createReview-fieldContainer {
  box-sizing: border-box;
  /* padding: 24px; */
  width: 500px;
  /* background-color: hotpink; */
}

ul {
  margin-left: 17px;
}

#createReviewTitle {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 64px;

  margin-top: -20px;

  font-size: 16px;
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  border-bottom: #EBEBEB solid 1px;
}

#welcomeDiv {
  font-size: 22px;
  font-weight: 450;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  margin-top: 8px;
  margin-bottom: 24px;
}

#createReview-top-label {
  height: 150px;
  width: 500px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* background-color: hotpink; */
}

.createReview-review-inputField {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 470px;
  margin: 5px 5px 5px 4px;

  font-size: 15px;
  font-weight: 350;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #222222;
  /* background-color: aqua; */
  /* border: none; */
  outline: none;
}

#createReview-middle-label {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: none;
}

.createReview-inputField {
  height: 20px;
  /* width: 478px; */
  margin: 5px;
  margin-left: 10px;
  margin-right: 15px;

  font-size: 15px;
  font-weight: 350;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #222222;

  border: none;
  outline: none;
}
