.dropdownwrapper {
  height: 50px;
  width: 78px;
}

.nav-bar {
  margin-top: 20px;
}

.nav-bar-left {
  position: fixed;
  left: 62px;
  height: 50px;
  width: 10px;
  margin-top: 0.8em;
}

.nav-bar-middle{
  position: fixed;
  right: 200px;
  margin-top: 15px;
}

.nav-bar-right {
  position: fixed;
  right: 58px;
}

.profile-dropdown {
  list-style-type: none;
  margin: 10px 10px 10px 0px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 3px 3px 2px rgba(157, 158, 156, 0.2), 0px 3px 5px 5px rgba(122, 120, 120, 0.19);
}

.curr-user{
  margin: 10px;
}

.log-out-button{
  margin: 0px 10px 10px 34px;
  width: 4.3em;
  height: 1.7em;
}

.dropdown-outer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: -5px;

  border-radius: 12px;

  height: 50px;
  width: 78px;
}

.create-spot-page {
  text-decoration: none;
  color: rgb(84, 83, 83);
  font-size: 15px;
}

.profile-button {
  margin-top: 8px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgb(210, 208, 208);
  background-color: white;

  display: flex;
  justify-content: space-around;
}

button:hover {
  box-shadow: 0 2px 2px 0 rgba(157, 158, 156, 0.2), 0 3px 3px 0 rgba(122, 120, 120, 0.19);
  cursor: pointer;
}

.fa-circle-user {
  color: rgb(118, 115, 115);
  margin-top: 5.5px;
  font-size: 2.2em;
}

.fa-bars {
  color: rgb(102, 100, 100);
  margin-left: 6px;
  margin-top: 11px;
  font-size: 1.5em;
}
