.errors-li {
  margin: 10px 0px 10px 0px;
  color:#E31C5F;
}

#loginContainer {
  width: 560px;
  min-height: 418px;
  max-height: 468px;

  border-color: #B0B0B0;
  border-width: 1px;
  border-radius: 12px;
  border-style: solid;
  /* background-color: yellow; */
}

#loginTitle {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 64px;

  font-size: 16px;
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  border-bottom: #EBEBEB solid 1px;
  border-radius: 12px;
  /* background-color: #D70466; */
}

#fieldContainer {
  box-sizing: border-box;
  padding: 24px;
}

#welcomeDiv {
  font-size: 22px;
  font-weight: 450;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  margin-top: 8px;
  margin-bottom: 30px;
}

.inputLabel {
  padding: 15px 0px 10px 10px;
  color:#858383;
}

.inputContainer {
  display: flex;
  align-items: center;
  height: 56px;

  border: 1px solid #c2c0c2;
  border-radius: 8px;
}

.inputField {
  height: 20px;
  width: 478px;
  margin: 0px 0px;

  font-size: 15px;
  font-weight: 350;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: black;

  border: none;
  outline: none;
}

#loginEmailContainer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#LoginPasswordContainer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.styledButton {
  height: 48px;
  width: 520px;

  margin-top: 16px;
  padding: 12px 24px;

  outline: none;
  border: none;
  border-radius: 8px;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;

  cursor: pointer;

  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;

  background-size: 200% 200%;
}

.styledButton:active {
  transform: scale(0.96);
}
