
.create-spot {
  text-decoration: none;
  color: rgb(84, 83, 83);
  font-size: 15px;
  border: none;
  border-radius: 30px;
  margin: 5px 10px 5px 10px;
  padding: 15px;
}

.create-spot:hover {
  cursor: pointer;
  background-color: rgb(251, 251, 251);
  /* box-shadow: 0 2px 2px 0 rgba(157, 158, 156, 0.2), 0 3px 0 0 rgba(220, 219, 219, 0.19); */
  border-radius: 30px;
}

.createSpot-outer-container{
  width: 566px;
  /* min-height: 500px; */
  height: auto;

  border-color: #B0B0B0;
  border-width: 1px;
  border-radius: 12px;
  border-style: solid;

  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#fieldContainer {
  box-sizing: border-box;
  padding: 24px;
}

ul {
  margin-left: 17px;
}

#createSpotTitle {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 64px;

  font-size: 16px;
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  border-bottom: #EBEBEB solid 1px;
}

#welcomeDiv {
  font-size: 22px;
  font-weight: 450;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  margin-top: 8px;
  margin-bottom: 24px;
}

.createSpot-inputField{
  height: 20px;
  width: 478px;
  margin: 5px;

  font-size: 15px;
  font-weight: 350;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #222222;

  border: none;
  outline: none;
}

.create-spot-label {
  margin: 5px;
  margin-left: 10px;
}

#top-label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#middle-label {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: none;
  /* border-bottom: none; */
}

#bottom-label {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
